/* body {
    background-color: #62107f;
} */

.btn {
    text-transform: uppercase;
    transition: 1.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #61107f9d 0%, #da0b34 51%, #62107f 100%);
    border-style: none;
   }

   .btn:hover {
    background-position: right center !important; 
  }